.count {

    animation: hide 1.5s  forwards;
    font-size: 90px;
    color: #F43333;
   
    
   
}
@keyframes hide {
to {
        visibility: hidden;
        width: 0;
        height: 0;
      }
   }