
.img img{
  width: 100% ;
  transition: .3s all ease-in-out;
 
}

.img:hover img{
  transform: scale(1.03);
}

span{
  color: #9CA3AF;
}
a{
  color: #151515;
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
}
.img div {
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.img:hover div{
 opacity: 1;
}
